#section4 {
    background-image: url("/img/site/0001.jpg");
}
#section5 {
    background-image: url("/img/site/0001.jpg");
}
#section6 {
    background-image: url("/img/site/0001.jpg");
}
#section7 {
    background-image: url("/img/site/0001.jpg");
}
#section8 {
    background-image: url("/img/site/0001.jpg");
}
#section9 {
    background-image: url("/img/site/0001.jpg");
}
#section10 {
    background-image: url("/img/site/0001.jpg");
}
